@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2F957F;
  --secondary: #E06B2D;
  --darkGray: #628281;
  --lightGray: #C4C4C4;
  --white: #F9F9F9;
  --black: #191919;
  --pink: #EF144A;
}

body {
  font-family: 'Poppins', sans-serif;
}
